/* ==========================================================================
   Base
   ========================================================================== */

body {
  /*background-color: #ddd;*/
}



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation ... first value originally 60 */
body.top-navbar { padding-top: 80px; }
body.admin-bar .navbar-fixed-top { top: 28px; }



/* ==========================================================================
   Content
   ========================================================================== */

#content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { 
  /*background-color: #fff;*/
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar {
  background-color: #fff;
  padding-top: 60px;
}
.widget-inner h3 {
border-bottom: 6px solid #EEE;
font-size: 14px;
padding: 5px 5px 5px 5px;
margin: 0 0 5px;
color: #999;}

.widget-inner {
font-size: 14px;
padding: 5px 5px 5px 5px;
margin: 0 0 5px;
color: #666;}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info {
  /*background-color: #ddd;*/
  border-top: dotted #ddd;
  padding-top: 20px;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

/* ==========================================================================
   Mods
   ========================================================================== */

.fineprint {
  font-family: Arial, Helvetica, sans-serif;
  color: #6b6b6b;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 128%;
}

.fineprintdark {
  font-family: Arial, Helvetica, sans-serif;
  color: #515151;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 128%;
}
.fineprintdk {
  font-family: Arial, Helvetica, sans-serif;
  color: #ddd;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 128%;
}

.buy {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(253,185,19,.85);
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
}

/* Link mods */

a {
  color: #3366cc;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

.row-pink {
  background-color: #ffe6e6;
  padding: 0;
}

.foot {
/*  position: relative;
*/  background-color: #92929d;
  margin-top: 10px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
} 

.well-pink {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffe6e6;
  border: 0px dotted;
  border-radius: 6px;
  box-shadow: inset 4px 4px 1px #FFEBEB;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.well-white {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 2px dotted;
  border-color: rgba(0,0,0,.15);
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 0px #ccc;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.gform_wrapper ul { list-style: none; margin-left: 0; }
.gform_wrapper form { margin-bottom: 0; }

.gfield_radio input,
.gfield_checkbox input {
  vertical-align: 0;
}
.gfield_radio label,
.gfield_checkbox label {
  display: inline-block;
  margin-left: 8px;
}

::selection {
  background: #ffb7b7; /* Safari */
  }
  
::-moz-selection {
  background: #ffb7b7; /* Firefox */
}

#cart {
  width: 80px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  background-image: url("http://www.themco.ca/wp-content/uploads/2013/11/viewcart.png");
  background-position: 0px 0;
  margin: 0px;
}

#cart:hover {
  background-position: 80px 0;
}

#cart:active {
  background-position: 80px 0;
}

.wpcf7 input[type="text"] {width:90%;}
.wpcf7 input[type="email"] {width:90%;}
.wpcf7 textarea { width:90%;}

/* ==========================================================================
   Play button adds
   ========================================================================== */

.covercontainer {
  position: relative;
  height: 100%;
}

.coverheader {
  position: absolute;
  z-index: 2;
}

.playbutton {
  position: absolute;
  left: 20px;
  bottom: 10px;
  z-index: 2;
}
